@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

.app-wrapper {
  width: 100%;
  height: 100vh;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Orbitron', sans-serif;
}
